html,body{
  height:100%;
  width:100%;
}

body{
  -webkit-perspective: 1000;
  position: absolute;
  -webkit-transform: translate3d(0,  0,  0) rotate(0) scale(1);
}

#main-container > :not(.active) {
  display: none;
}

#main-container{
  height:100%;
  width:100%;
  position:relative;
}

#pager{
  height:100%;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
}

#pager .secondary{
  background-color:#FFF;
}

.header-row{
  width:100%;

}

.app-page{
  position:absolute;
  width: 100%;
}

.page{
  width:100%;
  -webkit-backface-visibility:hidden;
}

#footer{
  background:#CCC;
  width: 100%;
  height: 2em;
  position:fixed;
  bottom:0px;
  left:0px;
  text-align:center;
}


.header-row{
  min-height: 2.5em;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: red;
  background: #ff9595; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9595 0%, #ff3030 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9595), color-stop(100%,#ff3030)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff9595 0%,#ff3030 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff9595 0%,#ff3030 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff9595 0%,#ff3030 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ff9595 0%,#ff3030 100%); /* W3C */
}

.day-holiday-list .button{
  padding:20px 0 20px 10px;
}

.button{
  width:100%;
  text-align: left;
}

.holiday_button i{
  margin-right: 10px;
}

.holiday_actions{
  list-style-type: none;
  display: none;
  background: #222;
  width: 100%;
}

.holiday_actions a{
  margin-left:10px;
  font-size:30px;
}

.holiday_actions li{
  margin-right: 10px !important;
}

.holiday_actions a{
  color: #FFF;
}

h1, h2{
  padding-left:10px;
}

a.pull-left{
  float:left;
}

a.prev{
  float:left;
}

a.next{
  float:right;
  margin-right:10px;
}

h1{
  text-align: center;
  font-size:25px;
}

.app-page h1 a{
  color: #222;
}

h2{
  font-size:18px;
}

ul, li{
  margin:0 !important;
  padding:0 !important;
}

#calendar-holder{
  height: 100%;
  margin-top: 47px;
}

#cal-view{
  height:100%;
}

.flip {
    -webkit-animation-duration: .65s;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}

.flip.out {
    -webkit-transform: rotateY(-180deg) scale(.8);
    -webkit-animation-name: flipouttoleft;
}

.flip.in {
    -webkit-transform: rotateY(0) scale(1);
    -webkit-animation-name: flipinfromleft;
}

/* Shake it all about */
.flip.out.reverse {
    -webkit-transform: rotateY(180deg) scale(.8);
    -webkit-animation-name: flipouttoright;
}

.flip.in.reverse {
    -webkit-transform: rotateY(0) scale(1);
    -webkit-animation-name: flipinfromright;
}

@-webkit-keyframes flipinfromright {
    from { -webkit-transform: rotateY(-180deg) scale(.8); }
    to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipinfromleft {
    from { -webkit-transform: rotateY(180deg) scale(.8); }
    to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0) scale(1); }
    to { -webkit-transform: rotateY(-180deg) scale(.8); }
}

@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) scale(1); }
    to { -webkit-transform: rotateY(180deg) scale(.8); }
}

